profiles {
    standard {
        docker.enabled = false
    }


    docker {
        process.container = true
        docker.enabled = true
    }

    aws {
        process.executor = 'awsbatch'
        aws.region = 'us-east-1'
        docker.enabled = true
    }
}

params {
    genome = "/home/calpine/bioinformatics/project_2026/rnaseq/rna-seq-nextflow/data/star_index"
    gtf = "/home/calpine/bioinformatics/project_2026/rnaseq/rna-seq-nextflow/genome/Homo_sapiens.GRCh38.115.gtf"
    meta = "metadata.tsv"
    input_dir = "data"
    script_file = "bin/rna_seq_pipeline.R"
    outdir      = "results"
}

process {
    container = 'rnaseq-pipeline:1.0'

    executor = 'local'

    withName: STAR {
        cpus = 8
        memory = '40 GB'
        maxForks = 2

    scratch = '/tmp'
    }

    withName: DESEQ2_ANALYSIS {
        container = 'rnaseq_pipeline'
        cpus = 2
        memory = '4 GB'
    }
    report {
    enabled = true
    overwrite = true
    file = 'report.html'
}

trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
}

timeline {
    enabled = true
    overwrite = true
    file = 'timeline.html'
}

dag {
    enabled = true
    overwrite = true
    file = 'pipeline_dag.html'
}
conda {
    enabled = true
}
}







