profiles {
    standard {
        docker.enabled = true
    }


    docker {
        docker.enabled = true
    }

    aws {
        process.executor = 'awsbatch'
        aws.region = 'us-east-1'
        docker.enabled = true
    }
}

params {
    genome = "/home/calpine/bioinformatics/project_2026/rnaseq/rna-seq-nextflow/data/star_index"
    gtf = "/home/calpine/bioinformatics/project_2026/rnaseq/rna-seq-nextflow/genome/Homo_sapiens.GRCh38.115.gtf"
    meta = "metadata.tsv"
    input_dir = "data"
    script_file = "bin/rna_seq_pipeline.R"
    outdir      = "results"
    
    design = "~ genotype + zinc"
}

process {
    executor = 'local'

    container = 'rnaseq-pipeline:1.0'

    withName: STAR {
        cpus = 8
        memory = '40 GB'
        maxForks = 2

    scratch = '/tmp'
    }

    withName: DESEQ2_ANALYSIS {
        cpus = 2
        memory = '4 GB'
    }
}
    report {
    enabled = true
    overwrite = true
    file = 'report.html'
}

trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
}

timeline {
    enabled = true
    overwrite = true
    file = 'timeline.html'
}

dag {
    enabled = true
    overwrite = true
    file = 'pipeline_dag.html'
}

params.min_length = 30
params.min_quality = 20
params.n_base_limit = 5
params.unqualified_percent = 30
params.fastp_adapter = "auto"
params.fastp_cpus = 8
params.star_cpus = 16
params.featureCounts_cpus = 8


