profiles {

    standard {
        docker.enabled = true
    }

    docker {
        docker.enabled = true
    }

    aws {
        process.executor = 'awsbatch'
        aws.region        = 'us-east-1'
        docker.enabled    = true
    }

}

params {

    // Reference genome and annotation files
    genome_fasta = null
    annotation   = null

    // Pre-built STAR genome index
    star_index   = null

    // STAR genome index generation
    sjdbOverhang = 49

    // Input and output files
    meta        = "metadata.tsv"
    input_dir   = "data"
    script_file = "bin/rna_seq_pipeline.R"
    outdir      = "results"

    // DESeq2 design formula
    design = "~ genotype + zinc"

    // FASTP parameters
    min_length           = 30
    min_quality          = 20
    n_base_limit         = 5
    unqualified_percent  = 30
    fastp_adapter        = "auto"

    // CPU allocation
    fastp_cpus           = 8
    star_cpus            = 16
    featureCounts_cpus   = 8
    star_index_cpus      = 16

}

process {

    executor = 'local'

    container = 'rnaseq-pipeline:1.0'

    withName: STAR {

        cpus     = 8
        memory   = '40 GB'
        maxForks = 2
        scratch  = '/tmp'

    }

    withName: DESEQ2_ANALYSIS {

        cpus   = 2
        memory = '4 GB'

    }

}

report {

    enabled   = true
    overwrite = true
    file      = 'report.html'

}

trace {

    enabled   = true
    overwrite = true
    file      = 'trace.txt'

}

timeline {

    enabled   = true
    overwrite = true
    file      = 'timeline.html'

}

dag {

    enabled   = true
    overwrite = true
    file      = 'pipeline_dag.html'

}